.menu li {
    list-style-type:square;
    list-style-position:inside;
    width: 100%;
    background: grey;
    list-style:None;
    padding: 0;
    margin: 0;
    display:inline-block;
}
.menu li a {
    padding: 10px 20px;
    display: inline-block;
    color: white;

}
.menu li a:hover {
    background:black;
}
/*SE CONTINÚA CON EL PROBLEMA DE DISPLAY:INLINE-BLOCK Y FLOAT:LEFT*/