div {
    background:grey;
    width: 90%;
}
img {
    width: 50%;
    height: auto;
    margin: auto;
    padding: 5px;
    display:block;
    border-radius: 10px;
    /*PROBAR PONER 50%* EN BORDER RADIUS*/
    /*box-shadow: 5px 5px 0px blue;*/
    border: 2px solid black;
}
/*ALTERNAR BOX-SHADOW Y BORDER*/